.carousel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: background-image;
    transition-duration: 1s;
    transition-timing-function: linear;
}
