.footer {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0rem 1rem;
    padding: 0.6rem 0rem;

    @media (max-width: 800px) {

        grid-template-columns: repeat(2, auto);
        justify-content: space-between;

        span {
            display: none;
        }

    }

}
