@import "colors";

.index {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.content {
    background-color: $pink;
    font-family: "Josefin Slab", serif;
    display: grid;
}

.container {
    max-width: 1650px;
    justify-self: center;
    align-self: center;
}
