.navigation {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    margin: 0rem 2.5rem;
}

.navigation-left {
    font-family: "Sacramento", cursive;

    a {
        font-size: 3rem;
        color: black;
        text-decoration: none;
    }
}

.navigation-right {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 1.25rem;
    font-family: "Josefin Slab", serif;
    font-weight: 700;

    a {
        color: black;
        text-decoration: none;
    }
}
