@import "colors";

.navigation {

    font-family: "Josefin Slab", serif;
    font-weight: 700;

    .fas {
        cursor: pointer;

        @media (min-width: 800px) {
            display: none;
        }
    }

}
